<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="application/javascript">
        // `state` and arrays of consumption per year => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var state = '{{{STATE}}}';
        var coal_counts = [{{{COAL_COUNTS}}}];               // array - value per year (e.g. [1234, 2567, ...])
        var natural_gas_counts = [{{{NATURAL_GAS_COUNTS}}}]; // array - value per year (e.g. [1234, 2567, ...])
        var nuclear_counts = [{{{NUCLEAR_COUNTS}}}];         // array - value per year (e.g. [1234, 2567, ...])
        var petroleum_counts = [{{{PETROLEUM_COUNTS}}}];     // array - value per year (e.g. [1234, 2567, ...])
        var renewable_counts = [{{{RENEWABLE_COUNTS}}}];     // array - value per year (e.g. [1234, 2567, ...])
        var total_energy = [{{{TOTAL}}}];
    </script>
</head>
<body>

    <div class="navigation">
        <div class="dropdown">
            <button class="dropbtn">Year</button>
            <ul class="dropdown-content" id="dropdown-year">
                
            </ul>
            <script>
                let element = document.getElementById("dropdown-year");
                for(i=1960; i<2019; i++){
                    let new_li = document.createElement("li");
                    let new_link = document.createElement("a")
                    new_link.textContent = i;
                    new_link.href = "/year/" + i;
                    new_li.appendChild(new_link)
                    element.appendChild(new_li);
                }
            </script>
        </div>
        <div class="dropdown">
            <button class="dropbtn">State</button>
            <ul class="dropdown-content" id="dropdown-state">
        
            </ul>
            <script>
                var states = ["Alaska", "Alabama", "Arkansas", "Arizona", "California", "Colorado", "Connecticut", "District of Columbia", "Delaware", "Florida", "Georgia", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia",  "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]
                var states_abbrev = [ "AK","AL","AR","AZ","CA","CO","CT","DC","DE","FL","GA","HI","IA","ID","IL","IN","KS","KY","LA","MA","MD","ME","MI","MN","MO","MS","MT","NC","ND","NE","NH","NJ","NM","NV","NY","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VA","VT","WA","WI","WV","WY"]
                let element_state = document.getElementById("dropdown-state");
                for(i=0; i<51; i++){
                    let new_li = document.createElement("li");
                    let new_link = document.createElement("a")
                    new_link.textContent = states[i];
                    new_link.href = "/state/" + states_abbrev[i];
                    new_li.appendChild(new_link)
                    element_state.appendChild(new_li);
                }
            </script>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Energy Source</button>
            <div class="dropdown-content">
                <a href="/energy/coal">Coal</a>
                <a href="/energy/natural_gas">Natural Gas</a>
                <a href="/energy/nuclear">Nuclear</a>
                <a href="/energy/petroleum">Petroleum</a>
                <a href="/energy/renewable">Renewable</a>
            </div>
        </div>
    </div>



    <div class="container" >
        <canvas id="myChart"></canvas>
    </div>

    <script type="application/javascript">
        let coal_final = [];
        let natural_gas_final = [];
        let nuclear_final = [];
        let petroleum_final = [];
        let renewable_final = [];
        for(let i = 0; i<total_energy.length; i++){
            coal_final.push(coal_counts[i]/total_energy[i]*100)
            natural_gas_final.push(natural_gas_counts[i]/total_energy[i]*100)
            nuclear_final.push(nuclear_counts[i]/total_energy[i]*100)
            petroleum_final.push(petroleum_counts[i]/total_energy[i]*100)
            renewable_final.push(renewable_counts[i]/total_energy[i]*100)
        }
        


        let myChart = document.getElementById('myChart').getContext('2d');
        let massPopChart = new Chart(myChart, {
            type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                labels:[{{{YEAR_LIST}}}],
                datasets:[
                    {
                        label:'Coal',
                        data: coal_final,
                        backgroundColor: 'green',
                        fill: true
                    },
                    {
                        label:'Natural Gas',
                        data: natural_gas_final,
                        backgroundColor: 'blue',
                        fill: true
                    },
                    {
                        label:'Nuclear',
                        data: nuclear_final,
                        backgroundColor: 'yellow',
                        fill: true
                    },
                    {
                        label:'Petroleum',
                        data: petroleum_final,
                        backgroundColor: 'red',
                        fill: true
                    },
                    {
                        label:'Renewable',
                        data: renewable_final,
                        backgroundColor: 'purple',
                        fill: true
                    },
                ],
            },
            options: {
                
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true, 
                        text: 'State Energy Percentages'
                    },
                    tooltip: {
                        mode: 'index'
                    }
                },
                interaction: {
                    mode: 'nearest',
                    axis: 'x',
                    intersect: false
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Year'
                        }
                    },
                    y: {
                       max: 100,
                        stacked: true,
                        title: {
                            display: true,
                            text: 'Value'
                        }
                    },
                }
            }
        });
    </script>


    <!-- create template here -->

    

    <div class="prevnext">
        <div id="prev" style="display: inline;">

        </div>
        <h1 style="padding: 10px;"> State: {{{STATE}}}</h1>
        
        <div id="next" style="display: inline;">

        </div>
        <script type='application/javascript'>
            //seemingly way more complicated than it needed to be but it works
            let prev = document.getElementById('prev');
            let next = document.getElementById('next');
            let index = states.indexOf(state);
            let prev_value = index-1;
            if(prev_value == -1){prev_value=50;}
            let next_value = (index+1)%51;
            let new_prev = document.createElement("a")
            let new_next = document.createElement("a")
            new_prev.href = '/state/' + states_abbrev[prev_value];
            new_next.href = '/state/' + states_abbrev[next_value];
            let prev_button = document.createElement('button');
            let next_button = document.createElement('button');
            prev_button.textContent = 'Prev';
            next_button.textContent = 'Next';
            new_prev.appendChild(prev_button)
            new_next.appendChild(next_button)
            prev.appendChild(new_prev);
            next.appendChild(new_next);
        </script>
    </div>



    <div><img src='{{{STATE_FLAG}}}' class="image" alt='{{{ALT_TEXT}}}'></div>
    



    <table>

        <tr>
            <th>Year</th>
            <th>Coal</th>
            <th>Natural Gas</th>
            <th>Nuclear</th>
            <th>Petroleum</th>
            <th>Renewable</th>
            <th>Total</th>
        </tr>
        <tr>
            {{{YEARS}}}
            
        </tr>
    </table>




</body>
</html>
